/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.wrapper,.wrapper_for_fixed {
		grid-template-columns: repeat(8, minmax(56px,88px));
}
aside {
	display:none;
}
main.container-9_8_4  {
	grid-column:1/-1;
	
	
}
.container-9_8_4 {
		grid-template-columns: repeat(8, minmax(56px,88px));
	
}
main .UI_Button .UI_Button_wrapper .UI_Button_wrapper_grid3 {
	grid-column:span 2;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	}



/* Small Devices, Tablets */
@media only screen and (max-width : 736px) {
.wrapper,.wrapper_for_fixed {
		grid-template-columns: repeat(4, minmax(56px,88px));
		grid-column-gap:24px;
}
main {
	grid-column:1/-1;
	

}
.container-9_8_4 {
		grid-template-columns: repeat(4, minmax(56px,88px));
	grid-column-gap:24px;
}



h1 {
	font-size:32px;
	}
h2 {
	font-size:28px;
	}
h3 {
	font-size:20px;
	}
h4 {
	font-size:18px;
	line-height: 28px;
	}
.P_Lead {
	font-size:20px;
	}
.P_18 {
	font-size:18px;
	line-height: 28px;
}
.P_16 {
	font-size:16px;
}
.P_14 {
	font-size:14px;
	line-height: 20px;
}
.desktop h1 {
	font-size:48px;
	}
.desktop h2 {
	font-size:32px;
	}
.desktop h3 {
	font-size:24px;
	}
.desktop h4 {
	font-size:18px;
	line-height: 28px;
	}
.desktop .P_Lead {
	font-size:24px;
	}
.desktop .P_18 {
	font-size:18px;
	line-height: 28px;
}
.desktop .P_16 {
	font-size:16px;
}
.desktop .P_14 {
	font-size:14px;
	line-height: 20px;
}
header .header_nav p {
	display:block;
}
header .header_nav ul {
	display:none;

}
.col_md-6_4 {
	grid-column:span 4;
	
}
main .typography .typography_font_size_content *:nth-child(even) {
grid-column:span 4;
 margin-top: 0px;

}
.popap_content {
height: 100%;
	margin:0 ;
}
.content_popap_wrapper {
	grid-column:1/-1;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}